<template>
  <div 
    :style="{ marginLeft: '10px', backgroundColor: status ? '#333': '#ccc' }"
    class="tree--item"
    @click.stop="addMarker"
  >
    {{ item.name }} 
    <template v-if="item.cordinates">
      {{ item.cordinates.join(':') }}
    </template>
    <!-- <div 
      v-if="item.cordinates"
      v-for="(cordinate, index) in item.cordinates"
      :key="index"
    >
      <div>
        {{ cordinate }}
      </div>
    </div> -->
    <tree-item
      v-if="item.childrens"
      v-for="(child, i) in item.childrens"
      :key="i"
      :item="child"
    />
  </div>
</template>

<script>
  export default {
    name: 'tree-item',
    props: {
      item: {
        type: Object
      }
    },
    methods: {
      addMarker () {
        if (this.item.childrens) {
          this.setStatus(this.item.childrens)
        }
        this.$set(this.item, 'status', true)
        this.$emit('addMarker', this.item)
      },
      setStatus (item) {
        item.forEach(child => {
          this.$set(child, 'status', true)
          if (child.childrens) {
            this.setStatus(child.childrens)
          }
        })
      },
      getStatus (childrens) {
        return childrens.map(child => {
          if (child.status) {
            return true
          } else if (child.childrens) {
            this.getStatus(child.childrens)
          }
        }).every(Boolean)
      }
    },
    computed: {
      status () {
        if (this.item.childrens) {
          if (this.getStatus(this.item.childrens)) {
            this.$set(this.item, 'status', true)
          } else {
            this.$set(this.item, 'status', false)
          }
        }
        return !!this.item.status
      }
    }
  }
</script>

<style>
  .tree--item {
    padding: 10px;
    border: 1px solid #333;
    margin-top: 10px;
  }
</style>
