<template>
  <div id="app">
    <div class="col tree">
      <tree-item
        v-for="(item, i) in tree"
        :key="i"
        :item="item"
        @addMarker="addMarker"
      />
    </div>
    <div id="map" class="col" />
    <div class="col">
      <div
        v-for="(marker, i) in checkedMarkers"
        :key="i"
        @click="changeState(marker.id, i)"
      >
        {{ marker.name }}
        {{ marker.cordinates }}
      </div>
    </div>
  </div>
</template>

<script>
import L from 'leaflet';
import TreeItem from './components/TreeItem';

function genId ()  {
  return Math.round(Math.random() * 1000)
}

export default {
  name: 'app',
  components: {
    TreeItem
  },
  data () {
    return {
      mapState: {
        center: [55.754781, 37.622802],
        zoom: 10
      },
      checkedMarkers: [],
      tree: [
        {
          id: genId(),
          name: 'Ветка 1',
          childrens: [
            {
              id: genId(),
              name: 'Ветка 2',
              cordinates: [55.627330, 37.575282],
              childrens: [
                {
                  id: genId(),
                  name: 'Ветка 3',
                  cordinates: [55.754781, 37.622802]
                },
                {
                  id: genId(),
                  name: 'Ветка 3',
                  cordinates: [55.783877, 37.672227]
                }
              ]
            },
            {
              id: genId(),
              name: 'Ветка 2',
              // cordinates: [55.754781, 37.622802],
              childrens: [
                {
                  id: genId(),
                  name: 'Ветка 3',
                  cordinates: [55.787451, 37.526356]
                },
                {
                  id: genId(),
                  name: 'Ветка 3',
                  cordinates: [55.674462, 37.606087]
                }
              ]
            },
            {
              id: genId(),
              name: 'Ветка 2',
              // cordinates: [55.754781, 37.622802],
              childrens: [
                {
                  id: genId(),
                  name: 'Ветка 3',
                  cordinates: [55.883309, 37.596120]
                },
                {
                  id: genId(),
                  name: 'Ветка 3',
                  cordinates: [55.819600, 37.798166]
                }
              ]
            }
          ]
        }
      ]
    }
  },
  mounted () {
    this.map = L.map('map', this.mapState);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(this.map);
  },
  methods: {
    addMarker (item) {
      // console.log(item.name);
      const markers = this.getCordinates(item)
      if (markers.length) {
        markers.forEach(item => {
          const marker = L.marker(item.cordinates)
            .addTo(this.map)
          marker.data = item 
          marker.on('mouseover', this.removeMarker);
        })
      }
    },
    getCordinates (item, markers = []) {
      if (item.cordinates) {
        markers.push({
          id: item.id,
          name: item.name,
          cordinates: item.cordinates
        })
      }
      if (Array.isArray(item.childrens)) {
        item.childrens.forEach(child => {
          return this.getCordinates(child, markers)
        })
      }
      return markers
    },
    removeMarker (event) {
      this.checkedMarkers.push(event.target.data)
      this.map.removeLayer(event.target)
    },
    changeState (id, i) {
      this.tree.forEach(item => {
        if (this.findBranchById(item, id)) {
          this.checkedMarkers.splice(i, 1)
        }
      })
    },
    findBranchById (branch, id) {
      if (branch.id === id) {
        branch.status = false
        return true
      }
      if (branch.childrens) {
        for (let i = 0; i < branch.childrens.length; i++) {
          if (this.findBranchById(branch.childrens[i], id)) {
            return true
          }
        }
      }
    }
  }
}
</script>
<style>
  @import 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet.css';
  #app {
    min-height: 400px;
    display: flex;
  }
  .col {
    padding: 10px;
    border-right: 1px solid #333;
    flex-basis: 33%;
  }
</style>
